dot_net/01/CodeGenerator.Test/bin
dot_net/01/CodeGenerator/bin
dot_net/01/CodeGenerator/obj
dot_net/02/WeightingPaths/obj
dot_net/02/WeightingPaths/bin
dot_net/02/WeightingPaths.Test/obj
dot_net/01/packages/
dot_net/02/packages/
dot_net/02/WeightingPaths.Test/obj/Debug
