dot_net/01/CodeGenerator.Test/obj/
dot_net/01/CodeGenerator/obj/
dot_net/01/packages/Newtonsoft.Json.7.0.1/
dot_net/01/packages/NUnit.2.6.4/
dot_net/02/packages/NUnit.2.6.4/
dot_net/02/WeightingPaths.Test/obj/
